.skillsContainer {
    text-align: center;
    margin-top: 2%;
  }
  
  .skillsHeader {
    font-size: 1.5rem;
    color: #9dd4ff;
    padding-top: 10%;
  }
  
  .theLine {
    width: 40%;
    border: 2px solid #2280ce;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: 50%;
    margin-top: 1%;
    opacity: 60%;
  }
  
  .theFiller {
    width: 30%;
    border: 2px solid;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-left: 50%;
    color: black;
    position: relative;
    bottom: 2px;
    color: rgb(73, 243, 255);
    opacity: 70%;
  }
  
  .frontEnd {
    margin-left: 4.8%;
    margin-top: 5%;
    font-size: 1.3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .backEnd {
    margin-left: 4.8%;
    margin-top: 5%;
    font-size: 1.3rem;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .backEndFiller {
    width: 25%;
    color: rgb(255, 64, 64);
  }
  
  .reactJsFiller {
    width: 33%;
    color: rgb(206, 82, 255);
  }
  
  .nodeJsFiller {
    width: 24%;
    color: rgb(52, 255, 137);
  }
  
  .proficientBox {
    width: 38%;
    background-color: none;
    height: 60vh;
    position: relative;
    border-radius: 80px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 213%;
    left: 8%;
    border: 1px solid #9dd4ff;
    box-shadow: 0 0 5px #9dd4ff;
  }
  
  .proficientHeader {
    font-size: 1.5rem;
    width: 70%;
    margin-top: 5%;
    margin-left: 15%;
    border: 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
  }
  
  .mySkills {
    font-size: 1rem;
    padding: 5%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 800;
    margin: 0 auto;
    width: 16%;
  }

  .skillLevel{
    font-size: .8rem;
    font-weight: 200;
    opacity: 60%;
    margin: 0 auto;
    margin-top: 20%;
    margin-left: 5%;
  }

  .skillsIcons{
    width:25%;
  }
