*{
  color: white;
  scroll-behavior:smooth;
}

body {
  height:100%;
  min-height: 100%;
  background-image: linear-gradient(#002e53, #2280ce);
  font-family: 'Courier New', Courier, monospace;
}
/*lines on the side move them to different file*/

.line{
  border: 1px solid;
  border-width: thin;
  -webkit-transform: rotate(90deg); 
  transform: rotate(90deg);
  width: 8%;
  position: fixed;
  bottom: 5%;
}

.line2{
  right: 0;
}

.email{
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 5%;
  position: fixed;
  bottom: 27%;
  left: 1.7%;
  font-weight: 100;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.linkedInGitHub{
 position: fixed;
 bottom: 15%;
 right: 3.6%;
 transition: bottom ease .2s;
 font-size: 1.2rem
}

.linkedIn:hover{
  bottom: 15.6%
}

.gitHub{
  bottom: 20%;
}

.gitHub:hover{
  bottom: 20.6%;
}
/*=========end of lines on side========*/

/*===========move to Home page CSS file============*/

.homeHeader{
  font-size: 3.5rem;
  margin-left: 50%;
  position: relative;
  top: 250px;
  font-weight: 500;
}

.homeHeader2{
  margin-top: .5%;
  font-size: 2.5rem;
  opacity: 90%;
}

.homeContainer{
  height: 100vh;
}

.photoOfMe{
  width: 20%;
  border-radius: 10px;
  position: absolute;
  top: 26%;
  left: 25%;
}

.photoOfMeBox{
  width: 20%;
  height: 39vh;
  border-radius: 10px;
  position: absolute;
  top: 30%;
  left: 23.5%;
  border: 1px solid;
}


.fa-brands{
  margin-right: 1%;
}

.fa-solid{
  margin-right: 1%;
}

.homeList{
  margin-top: 2%;
  font-size: 1.2rem;
  position: relative;
  left: 51%;
  top: 250px;
}

.homePageGhubLinkedIn{
  font-size: 120%;
  margin-left: 2.2%;
}

.showMore{
  position: relative;
  left: 46%;
  top: 35%;
  font-size: 2.5rem;
  text-decoration: none;
}

.fa-chevron-down{
font-size: 4rem;
margin-left: 4%;
transition: 500ms;
}

.moving{
font-size: 4rem;
margin-left: 4%;
transform:translateY(010px);
}

/*=============end of homePage CSS============*/

/*==============Move to Projects CSS =========*/

.projContainer{
  margin-top: 20%
}

.projectsHeader{
  font-size: 1.5rem;
  color:  #9dd4ff;
  margin-left: 40%;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.proj{
  width: 35%;
  height: 20vh;
  border: 3px solid;
  margin: 3%;
  margin-top: 5%
}




/*======put in globalNavBar CSS =======*/
.globalNavBar{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  margin-left: 28%;
  padding: .5%;
  border-bottom: none;
  position: fixed;
  top: 0;
  right: 0;
}

.headerText{
  font-size: 1.2rem;
  text-decoration: none;
  transition: .3s ease-out;
  opacity: 50%;
}

.headerText:hover{
  transform: scale(1.1);
  opacity: 100%;
  cursor: pointer;
}

/*=========end of that one 4 now===========*/
/*============About me=====================*/

.aboutMeContainer{
  width: 100%;
  text-align: center;
  height: 75vh;
}

.aboutMeHeader{
  font-size: 1.5rem;
  color:  #9dd4ff;
  padding-top: 5%;
}

.aboutMeParagraph{
  width: 40%;
  margin-left: 20%;
  margin-top: 5%;
  font-size: 1.5rem;
  font-family: cursive;
  opacity: 50%;
}

/*=======end of aboutMe ========*/
/*=======skills=================*/

.skillsContainer{
  text-align: center;
}

.skillsHeader{
  font-size: 1.5rem;
  color:  #9dd4ff;
}


.theLine{
  width: 40%;
  border: 2px solid #2280ce;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: 50%;
  margin-top: 1%;
  opacity: 60%;
}

.theFiller{
  width: 30%;
  border: 2px solid;
  border-left: none;
  border-right: none;
  border-top: none;
  margin-left: 50%;
  color: black;
  position: relative;
  bottom: 2px;
  color: rgb(73, 243, 255);
  opacity: 70%;
}

.frontEnd{
  margin-left: 4.8%;
  margin-top: 5%;
  font-size: 1.3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.backEnd{
  margin-left: 4.8%;
  margin-top: 3%;
  font-size: 1.3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.backEndFiller{
  width: 23%;
  color: rgb(255, 64, 64);
}

.reactJsFiller{
  width: 33%;
  color:rgb(206, 82, 255)
}

.nodeJsFiller{
  width: 20%;  
  color:rgb(52, 255, 137)
}

.proficientBox{
  width: 30%;
  background-color: #015091;
  height: 55vh;
  position: absolute;
  left: 12%;
  top: 185%;
  border-radius: 80px;
}

.proficientContainer{
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.proficientHeader{
  font-size: 1.1rem;
  width: 80%;
  margin-top: 15%;
  margin-left: 17%;
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
}

.mySkills{
  margin: 2%;
  font-size: 1rem;
  padding: 10%;
}

.mySkills2{
  margin: .5%;
}

.proficientContainer2{
 position: relative;
 bottom: 103.7%;
 left: 45%;
}



